server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tasks
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
